* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  letter-spacing: 3px;
}
a{
  text-decoration: none;
}
body {
  background-color: #fff;
}
.m01 {
  padding: 0;
}
#my-nav-items {
  /* color: #edf2f4; */
  color:#1d3557;
  letter-spacing: 3px;
  transition: all 0.4s linear;
}
#my-nav-items:hover{
  font-weight: 500;
  /* border: 1px solid #1d3557; */
}


#my-brand {
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 3px;
  margin-left: 0.2em;
  font-family: 'Comfortaa', cursive;
  padding: 0.2em 0.5em;
  /* color:#2b2d42; */
  color: #1d3557;
}

.my-container {
  margin-left: auto;
}

.nav-elem {
  margin: 0.2em 1em;
  font-size: 1.1em;
}
.my-navbar {
  /* background-color: #2b2d42; */
  background-color: rgba(255, 255, 255, 0.719);
  height: 8vh;
  border-bottom: 1px solid #1d3557;
  
}
nav {
  padding: 0;
}
.carousel-item img {
  height: 60vh;
  margin: 5em auto 0em auto;
  max-width: 95vw;
}
#my-card{
  min-height: 30vh;
  
  /* background-color: #F25E00; */
  background-color: #fff;
  margin: 0em 0 4em;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 0 auto;
 
}
#my-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: scale(1.08);
}
#my-card-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
  color:#1d3557 ;
  /* text-transform: lowercase;
  font-family: 'Comfortaa', cursive; */
}

.carousal-txt {
  text-transform: uppercase;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  position: relative;
  top: 0.5em;
  
}
.my-nav-container{
  margin-top: 2em;
  margin-bottom: 2em;
}